.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-wrapper {
  width: 400px;
  height: 500px;
  background-color: #fff;
}